/*Maps*/
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: museosans-300;
  src: url("./../tipografias/MuseoSans-300.otf"); }

@font-face {
  font-family: jersey_m54;
  src: url("../tipografias/Jersey_M54[1].ttf"); }

@font-face {
  font-family: museosans_500;
  src: url("../tipografias/MuseoSans_500_Italic.otf"); }

@font-face {
  font-family: museosans_100;
  src: url("../tipografias/MuseoSans-100.otf"); }

@font-face {
  font-family: museosans_900;
  src: url("./../tipografias/MuseoSans_1.otf"); }

@font-face {
  font-family: museosans-700italic;
  src: url("./../tipografias/MuseoSans-700Italic.otf"); }

@font-face {
  font-family: museosans-500;
  src: url("./../tipografias/MuseoSans_1.otf"); }

body .cabecera {
  position: fixed;
  width: 100%;
  z-index: 100; }
  body .cabecera .container-fluid .navbar-brand .cabecera__logo {
    width: 80px;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-top: .7rem; }
  body .cabecera .container-fluid .contenedor__navbar .navbar-nav {
    margin-left: .5rem; }
    body .cabecera .container-fluid .contenedor__navbar .navbar-nav .nav-item .nav-link {
      color: white;
      font-family: museosans-300;
      transition: transform 1s; }
      body .cabecera .container-fluid .contenedor__navbar .navbar-nav .nav-item .nav-link:hover {
        transform: scale(1.1); }

@media only screen and (min-width: 1200px) {
  body .cabecera .navbar .container-fluid {
    margin-right: 3rem; }
    body .cabecera .navbar .container-fluid .cabecera__logo {
      margin-top: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem; } }

#home {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../imagen/imageninicio2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 13vh; }
  #home .home__sticker {
    position: relative; }
    #home .home__sticker img {
      width: 30vw;
      position: absolute;
      top: 5vh; }
  #home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 87vh;
    max-width: 1400px; }
    #home .container .home__text1 {
      color: #F6F6F6;
      font-size: 4.8vw;
      text-shadow: 3px 3px 3px black;
      margin-top: 25vh;
      font-family: jersey_m54; }
    #home .container .home__text2 {
      color: #F6F6F6;
      font-size: 5.5vw;
      text-shadow: 3px 3px 3px black;
      font-family: jersey_m54; }
    #home .container .home__boton {
      text-decoration: none;
      color: white;
      padding: 0.1vh 2vw;
      border: 3px solid #FECF07;
      background-color: #FECF07;
      border-radius: 3px;
      margin-top: 1vh;
      font-weight: bolder;
      font-size: 3vw;
      transition: transform 1s; }
      #home .container .home__boton:hover {
        transform: scale(1.1); }
  @media only screen and (min-width: 768px) {
    #home .home__sticker img {
      top: -3vh; }
    #home .container .home__text1 {
      font-size: 3vw;
      text-shadow: 3px 3px 3px black;
      margin-top: 28vh;
      margin-bottom: .5vh; }
    #home .container .home__text2 {
      font-size: 4vw;
      text-shadow: 3px 3px 3px black; }
    #home .container .home__boton {
      font-size: 1.5vw;
      padding: 0.1vh 1vw; } }
  @media only screen and (min-width: 1024px) {
    #home {
      padding-bottom: 6.2rem; }
      #home .home__sticker img {
        margin-top: -6rem; }
      #home .container .home__text1 {
        font-size: 1.5rem;
        text-shadow: 3px 3px 3px black;
        margin-top: 15rem;
        margin-bottom: .5rem; }
      #home .container .home__text2 {
        font-size: 2.5rem; }
      #home .container .home__boton {
        font-size: .8rem; } }
  @media only screen and (min-width: 1200px) {
    #home .home__sticker img {
      margin-top: -10rem; } }

#nosotros {
  background-color: #F6F6F6; }
  #nosotros .container .nosotros__imagen {
    width: auto;
    height: 100%;
    margin: 0 5%;
    margin-top: -.5%; }
  #nosotros .container .contenedor_nosotros {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    margin-left: 5%; }
    #nosotros .container .contenedor_nosotros .nosotros_titulo {
      font-size: 1.2rem;
      font-weight: bolder;
      margin-top: 10%;
      border-bottom: 2px solid #FECF07;
      border-radius: 1px;
      width: fit-content;
      font-family: museosans_900;
      color: #FECF07; }
    #nosotros .container .contenedor_nosotros .nosotros__texto {
      margin-top: 15%;
      font-size: .8rem;
      white-space: nowrap;
      font-family: museosans_100; }
  #nosotros .container .contenedor__caracteristicas {
    flex-direction: row;
    gap: 5%; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso {
      align-items: center; }
      #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
        width: 2.3rem;
        height: 2.3rem; }
      #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
        font-size: .8rem;
        margin-top: 1rem;
        font-size: museosans-500;
        font-weight: 600; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
      width: 2.3rem;
      height: 2.3rem; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
      font-size: .8rem;
      margin-top: .6rem;
      font-size: museosans-500;
      font-weight: 600; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
      width: 2.3rem;
      height: 2.3rem;
      margin-top: .5rem; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
      font-size: .8rem;
      margin-top: 1rem;
      font-size: museosans-500;
      font-weight: 600; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
      width: 2.3rem;
      height: 2.3rem; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
      font-size: .7rem;
      margin-top: 1rem;
      font-size: museosans-500;
      font-weight: 600; }
  @media only screen and (min-width: 768px) {
    #nosotros .container .nosotros__imagen {
      margin: 0 4vw;
      margin-top: -.2vh;
      width: auto;
      height: 100%; }
    #nosotros .container .contenedor_nosotros .nosotros_titulo {
      font-size: 15px; }
    #nosotros .container .contenedor_nosotros .nosotros__texto {
      font-size: 10px;
      margin-bottom: 1vh;
      padding-bottom: 1vh; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
      font-size: .5rem; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
      font-size: 1.8vw;
      margin-top: 2vh; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
      font-size: 1.8vw;
      margin-top: 3vh; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
      font-size: 1.8vw; } }
  @media only screen and (min-width: 1024px) {
    #nosotros .container {
      margin: 0; }
      #nosotros .container .nosotros__imagen {
        margin-top: -.1rem;
        width: 90%;
        margin-left: 6vw; }
      #nosotros .container .contenedor_nosotros .nosotros_titulo {
        font-size: 1.4rem;
        margin-top: 4rem;
        margin-left: 4rem; }
      #nosotros .container .contenedor_nosotros .nosotros__texto {
        font-size: 1rem;
        margin-bottom: .8rem;
        margin-top: 4rem;
        margin-left: 4rem; }
      #nosotros .container .contenedor__caracteristicas {
        gap: 14%; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica {
          margin-left: 2rem; }
          #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
            width: 3.5rem;
            height: 3.5rem; }
          #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
            font-size: 1rem; }
          #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
            width: 3.5rem;
            height: 3.5rem; }
          #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
            font-size: 1rem;
            margin-top: 1rem; }
        #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
          width: 3.5rem;
          height: 3.5rem; }
        #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
          font-size: 1rem;
          margin-top: 1.5rem; }
        #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
          width: 3.5rem;
          height: 3.5rem; }
        #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
          font-size: 1rem; } }
  @media only screen and (min-width: 1200px) {
    #nosotros .container .nosotros__imagen {
      margin-top: -.15rem;
      width: 90%;
      margin-left: 7vw; }
    #nosotros .container .contenedor_nosotros .nosotros_titulo {
      font-size: 1.7rem;
      margin-top: 4rem;
      margin-left: 7rem; }
    #nosotros .container .contenedor_nosotros .nosotros__texto {
      font-size: 1.2rem;
      margin-bottom: .8rem;
      margin-top: 5rem;
      margin-left: 7rem; }
    #nosotros .container .contenedor__caracteristicas {
      gap: 14%; }
      #nosotros .container .contenedor__caracteristicas .compromiso-fabrica {
        margin-left: 4.5rem; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
          width: 3.5rem;
          height: 3.5rem; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
          font-size: 1.1rem; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
          width: 3.5rem;
          height: 3.5rem; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
          font-size: 1.1rem;
          margin-top: 1rem; }
      #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
        width: 3.5rem;
        height: 3.5rem; }
      #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
        font-size: 1.1rem;
        margin-top: 1.5rem; }
      #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
        width: 3.5rem;
        height: 3.5rem; }
      #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
        font-size: 1.1rem; } }

#modelos {
  background-color: black; }
  #modelos .container {
    margin-right: 0px; }
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 6vw;
      font-weight: bolder;
      margin-top: 6vh;
      margin-bottom: 2vh;
      margin-left: 3vw;
      border-bottom: 2px solid #FECF07;
      border-radius: 1px;
      width: fit-content;
      font-family: museosans_900;
      color: #FECF07; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 9vw;
      margin-top: 8vh;
      margin-bottom: 0vh;
      color: #F6F6F6;
      font-family: jersey_m54;
      margin-left: 3vw; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 4.5vw;
      color: #F6F6F6;
      margin-left: 3vw;
      font-family: museosans-700italic; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 4.5vw;
      color: #F6F6F6;
      margin-left: 3vw;
      font-family: museosans_100;
      margin-top: 5vh; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 70%; }
    #modelos .container .contenedor__carrousel .carousel {
      margin: 0 3vw;
      width: 100%;
      margin-bottom: 4vh; }
  @media only screen and (min-width: 768px) {
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 2.5vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 4vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 1.9vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 2vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 50%; }
    #modelos .container .contenedor__carrousel .carousel {
      margin-left: 7vw;
      margin-bottom: 5vh;
      width: 65%; } }
  @media only screen and (min-width: 1024px) {
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 1.4rem;
      margin-top: 4rem;
      margin-left: 4rem; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 2.5rem;
      margin-left: 4rem; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 1.2rem;
      margin-left: 4rem; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 1.1rem;
      margin-left: 4rem; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 50%;
      margin-right: 2rem; }
    #modelos .container .contenedor__carrousel .carousel {
      margin-left: 4rem;
      margin-bottom: 3rem;
      width: 54%; } }
  @media only screen and (min-width: 1200px) {
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 1.7rem;
      margin-top: 4rem;
      margin-left: 7rem;
      margin-bottom: 5rem; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 2.5rem;
      margin-left: 7rem; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 1.2rem;
      margin-left: 7rem; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 1.2rem;
      margin-left: 7rem;
      margin-top: 3rem; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 50%;
      margin-right: 2rem; }
    #modelos .container .contenedor__carrousel .carousel {
      margin-left: 5rem;
      margin-bottom: 3rem;
      width: 54%; } }

#viviendas {
  background-color: #F6F6F6; }
  #viviendas .container .contenedor__viviendas .viviendas__titulo {
    font-size: 6vw;
    font-weight: bolder;
    margin-top: 5vh;
    margin-left: 3vw;
    border-bottom: 2px solid #FECF07;
    border-radius: 1px;
    width: fit-content;
    font-family: museosans_900;
    color: #FECF07; }
  #viviendas .container .contenedor__viviendas .vivienda__text1 {
    font-size: 8.5vw;
    margin-top: 8vh;
    margin-bottom: 0vh;
    color: black;
    font-family: jersey_m54;
    margin-left: 3vw; }
  #viviendas .container .contenedor__viviendas .vivienda__text2 {
    font-size: 7vw;
    color: black;
    margin-left: 3vw;
    font-family: museosans-700italic; }
  #viviendas .container .contenedor__viviendas .vivienda__text3 {
    font-size: 4.3vw;
    color: black;
    margin-left: 3vw;
    font-family: museosans_100;
    margin-top: 5vh; }
  #viviendas .container .contenedor__metros .img__tick {
    width: 3rem;
    height: 3rem; }
  #viviendas .container .contenedor__metros .metros__text {
    font-size: 4vw;
    margin-top: 2vh;
    font-size: museosans-500;
    font-weight: bold; }
  #viviendas .container .contenedor__equipado .img__equipado {
    width: 3rem;
    height: 3rem; }
  #viviendas .container .contenedor__equipado .equipado__text {
    font-size: 4vw;
    margin-top: 2vh;
    font-size: museosans-500;
    font-weight: bold; }
  #viviendas .container .contenedor__financiado {
    margin-bottom: 3vh; }
    #viviendas .container .contenedor__financiado .img__financiado {
      width: 3rem;
      height: 3rem; }
    #viviendas .container .contenedor__financiado .financiado__text {
      font-size: 4vw;
      margin-top: 2vh;
      font-size: museosans-500;
      font-weight: bold; }
  #viviendas .container .contenedor__imagen {
    padding: 0; }
    #viviendas .container .contenedor__imagen .viviendas__imagen {
      width: 106%;
      margin: 0vh 0vw; }
  @media only screen and (min-width: 768px) {
    #viviendas {
      overflow: hidden; }
      #viviendas .container .contenedor__viviendas {
        margin-bottom: -2vh; }
        #viviendas .container .contenedor__viviendas .viviendas__titulo {
          font-size: 2.5vw;
          margin-left: 4vw; }
        #viviendas .container .contenedor__viviendas .vivienda__text1 {
          font-size: 4vw;
          margin-left: 4vw;
          margin-top: 5vh; }
        #viviendas .container .contenedor__viviendas .vivienda__text2 {
          font-size: 3vw;
          margin-left: 4vw; }
        #viviendas .container .contenedor__viviendas .vivienda__text3 {
          font-size: 2vw;
          margin-left: 4vw;
          margin-top: 2vh;
          margin-bottom: 0px; }
      #viviendas .container .contenedor__metros {
        margin-bottom: -2vh; }
        #viviendas .container .contenedor__metros .img__tick {
          width: 3rem;
          height: 3rem;
          margin-left: 3vw; }
        #viviendas .container .contenedor__metros .metros__text {
          font-size: 1.8vw; }
      #viviendas .container .contenedor__equipado {
        margin-bottom: -2vh; }
        #viviendas .container .contenedor__equipado .img__equipado {
          width: 3rem;
          height: 3rem;
          margin-left: 3vw; }
        #viviendas .container .contenedor__equipado .equipado__text {
          font-size: 1.8vw; }
      #viviendas .container .contenedor__financiado {
        margin-bottom: 3vh; }
        #viviendas .container .contenedor__financiado .img__financiado {
          width: 3rem;
          height: 3rem;
          margin-left: 3vw; }
        #viviendas .container .contenedor__financiado .financiado__text {
          font-size: 1.8vw; }
      #viviendas .container .contenedor__imagen .viviendas__imagen {
        width: 127%;
        margin: 0vh 0vw;
        margin-top: -.5vh; } }
  @media only screen and (min-width: 1024px) {
    #viviendas .container .contenedor__viviendas {
      margin-bottom: -2vh; }
      #viviendas .container .contenedor__viviendas .viviendas__titulo {
        font-size: 1.4rem;
        margin-top: 4rem;
        margin-left: 4rem; }
      #viviendas .container .contenedor__viviendas .vivienda__text1 {
        font-size: 2.5rem;
        margin-left: 4rem; }
      #viviendas .container .contenedor__viviendas .vivienda__text2 {
        font-size: 1.7rem;
        margin-left: 4rem; }
      #viviendas .container .contenedor__viviendas .vivienda__text3 {
        font-size: 1.1rem;
        margin-left: 4rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem; }
    #viviendas .container .contenedor__metros {
      margin-bottom: -1.5rem; }
      #viviendas .container .contenedor__metros .img__tick {
        width: 3.7rem;
        height: 3.7rem;
        margin-left: 3.2rem; }
      #viviendas .container .contenedor__metros .metros__text {
        font-size: 1rem;
        margin-top: 1rem; }
    #viviendas .container .contenedor__equipado {
      margin-bottom: -1.5rem; }
      #viviendas .container .contenedor__equipado .img__equipado {
        width: 3.7rem;
        height: 3.7rem;
        margin-left: 3.2rem; }
      #viviendas .container .contenedor__equipado .equipado__text {
        font-size: 1rem;
        margin-top: 1rem; }
    #viviendas .container .contenedor__financiado {
      margin-bottom: .8rem; }
      #viviendas .container .contenedor__financiado .img__financiado {
        width: 3.7rem;
        height: 3.7rem;
        margin-left: 3.2rem; }
      #viviendas .container .contenedor__financiado .financiado__text {
        font-size: 1rem;
        margin-top: 1rem; }
    #viviendas .container .contenedor__imagen .viviendas__imagen {
      width: 100%;
      margin-left: 6rem;
      margin-top: -.5rem; } }
  @media only screen and (min-width: 1200px) {
    #viviendas .container .contenedor__viviendas {
      margin-bottom: -2vh; }
      #viviendas .container .contenedor__viviendas .viviendas__titulo {
        font-size: 1.7rem;
        margin-top: 4rem;
        margin-left: 7rem;
        margin-bottom: 5rem; }
      #viviendas .container .contenedor__viviendas .vivienda__text1 {
        font-size: 2.5rem;
        margin-left: 7rem; }
      #viviendas .container .contenedor__viviendas .vivienda__text2 {
        font-size: 1.7rem;
        margin-left: 7rem; }
      #viviendas .container .contenedor__viviendas .vivienda__text3 {
        font-size: 1.2rem;
        margin-left: 7rem;
        margin-top: 3rem; }
    #viviendas .container .contenedor__metros {
      margin-bottom: -1.5rem; }
      #viviendas .container .contenedor__metros .img__tick {
        width: 4rem;
        height: 4rem;
        margin-left: 6rem; }
      #viviendas .container .contenedor__metros .metros__text {
        font-size: 1.2rem;
        margin-top: 1rem; }
    #viviendas .container .contenedor__equipado {
      margin-bottom: -1.5rem; }
      #viviendas .container .contenedor__equipado .img__equipado {
        width: 4rem;
        height: 4rem;
        margin-left: 6rem; }
      #viviendas .container .contenedor__equipado .equipado__text {
        font-size: 1.2rem;
        margin-top: 1rem; }
    #viviendas .container .contenedor__financiado {
      margin-bottom: .8rem; }
      #viviendas .container .contenedor__financiado .img__financiado {
        width: 4rem;
        height: 4rem;
        margin-left: 6rem; }
      #viviendas .container .contenedor__financiado .financiado__text {
        font-size: 1.2rem;
        margin-top: 1rem; }
    #viviendas .container .contenedor__imagen .viviendas__imagen {
      width: 100%;
      margin-left: 9rem;
      margin-top: -.5rem; } }

#proyectos {
  background-color: black; }
  #proyectos .container {
    overflow: hidden; }
    #proyectos .container .contenedor__img {
      position: relative; }
      #proyectos .container .contenedor__img .proyecto__img {
        width: 30vw;
        position: absolute;
        top: -7vh; }
    #proyectos .container .contenedor__proyecto {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 5vh; }
      #proyectos .container .contenedor__proyecto .proyecto__titulo {
        font-size: 4vw;
        font-weight: bolder;
        margin-top: 4vh;
        margin-left: 3vw;
        border-bottom: 2px solid #FECF07;
        border-radius: 1px;
        width: fit-content;
        font-family: museosans_900;
        color: #FECF07; }
      #proyectos .container .contenedor__proyecto .proyecto__text {
        font-family: museosans-300;
        color: #F6F6F6; }
  #proyectos .imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6;
    gap: 1%;
    padding-bottom: 10vh; }
    #proyectos .imagenes .imagenes__imagen {
      width: 100%;
      position: center center;
      font-size: cover; }
  @media only screen and (min-width: 768px) {
    #proyectos .container {
      padding-bottom: 20vh; }
      #proyectos .container .contenedor__img .proyecto__img {
        width: 30vw;
        position: absolute;
        top: -20vh; } }
  @media only screen and (min-width: 1024px) {
    #proyectos .container {
      padding-bottom: 5vh; }
      #proyectos .container .contenedor__img .proyecto__img {
        width: 30vw;
        position: absolute;
        top: -25vh; }
    #proyectos .imagenes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1%; }
      #proyectos .imagenes .imagenes__imagen {
        width: 100%;
        position: center center;
        font-size: cover;
        margin-bottom: 10px; } }
  @media only screen and (min-width: 1200px) {
    #proyectos .container {
      padding-bottom: 5vh; }
      #proyectos .container .contenedor__img .proyecto__img {
        width: 30vw;
        position: absolute;
        top: -35vh; } }

#beneficios {
  background-color: #F6F6F6;
  overflow: hidden; }
  #beneficios .container .contenedor__imagen .beneficio__img {
    width: 100%;
    margin: 0vh 3vw;
    margin-top: -.5vh; }
  #beneficios .container .beneficio__contenedor {
    margin-left: 2.5vw; }
    #beneficios .container .beneficio__contenedor .contenedor__textos {
      text-align: center;
      margin-top: 5vh; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__titulo {
        font-size: 10vw;
        color: black;
        font-family: jersey_m54; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__text {
        font-size: 6vw;
        color: black;
        font-family: jersey_m54; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios {
      margin-top: 7vh;
      margin-bottom: 6vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__img {
        width: 3rem;
        height: 3rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__text {
        font-size: 4vw;
        font-size: museosans-500; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__img {
        width: 3rem;
        height: 3rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__text {
        font-size: 4vw;
        font-size: museosans-500; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__img {
        width: 3rem;
        height: 3rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__text {
        font-size: 4vw;
        margin-top: 2vh;
        font-size: museosans-500; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__img {
        width: 3rem;
        height: 3rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__text {
        font-size: 4vw;
        margin-top: 2vh;
        font-size: museosans-500; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia {
        margin-top: 1vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__img {
          width: 3rem;
          height: 3rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__text {
          font-size: 4vw;
          font-size: museosans-500; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__img {
        width: 3rem;
        height: 3rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__text {
        font-size: 4vw;
        font-size: museosans-500; }
  @media only screen and (min-width: 768px) {
    #beneficios .container .contenedor__imagen .beneficio__img {
      width: 105%;
      margin-bottom: -3px; }
    #beneficios .container .beneficio__contenedor {
      margin-left: 0; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__titulo {
        font-size: 4vw;
        margin-left: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__text {
        font-size: 3vw;
        margin-left: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios {
        margin-top: 7vh;
        margin-bottom: 6vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__img {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 4vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__text {
          font-size: 1.5vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__img {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 4vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__text {
          font-size: 1.5vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__img {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 4vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__text {
          font-size: 1.5vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__img {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 4vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__text {
          font-size: 1.5vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia {
          margin-top: 1vh; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__img {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 4vh; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__text {
            font-size: 1.5vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__img {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 4vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__text {
          font-size: 1.5vw; } }
  @media only screen and (min-width: 1024px) {
    #beneficios .container .contenedor__imagen .beneficio__img {
      margin-top: -.2rem;
      width: 100%;
      margin-left: 4rem; }
    #beneficios .container .beneficio__contenedor {
      margin-left: 0; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__titulo {
        font-size: 3rem;
        margin-left: 5rem;
        margin-top: 2.5rem; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__text {
        font-size: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios {
        margin-top: 2rem;
        margin-bottom: 2rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__img {
            width: 4rem;
            height: 4rem;
            margin-left: 4rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__text {
            font-size: 1rem;
            margin-top: .5rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__img {
            width: 4rem;
            height: 4rem;
            margin-left: 4rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__text {
            font-size: 1rem;
            margin-top: .5rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__img {
            width: 4rem;
            height: 4rem;
            margin-left: 4rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__text {
            font-size: 1rem;
            margin-top: .5rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__img {
            width: 4rem;
            height: 4rem;
            margin-left: 3rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__text {
            font-size: 1rem;
            margin-top: 1.5rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia {
            margin-top: 1.5rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__img {
              width: 4rem;
              height: 4rem;
              margin-left: 3rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__text {
              font-size: 1rem;
              margin-top: .5rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos {
            margin-top: 1rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__img {
              width: 4rem;
              height: 4rem;
              margin-left: 3rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__text {
              font-size: 1rem;
              margin-top: .6rem; } }
  @media only screen and (min-width: 1200px) {
    #beneficios .container .contenedor__imagen .beneficio__img {
      margin-top: -.2rem;
      width: 100%;
      margin-left: 4rem; }
    #beneficios .container .beneficio__contenedor {
      margin-left: 0; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__titulo {
        font-size: 3rem;
        margin-left: 6rem;
        margin-top: 3rem; }
      #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__text {
        font-size: 2rem;
        margin-left: 6rem;
        margin-bottom: 7rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios {
        margin-top: 2rem;
        margin-bottom: 2rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__img {
            width: 4rem;
            height: 4rem;
            margin-left: 7rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__text {
            margin-top: .5rem;
            font-weight: bold;
            margin-top: 1.5rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__img {
            width: 4rem;
            height: 4rem;
            margin-left: 7rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__text {
            font-size: 1.1rem;
            margin-top: .5rem;
            font-weight: bold; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__img {
            width: 4rem;
            height: 4rem;
            margin-left: 7rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__text {
            margin-top: .5rem;
            font-weight: bold;
            margin-top: 1.2rem; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado {
          margin-bottom: 1rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__img {
            width: 4rem;
            height: 4rem;
            margin-left: 3rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__text {
            margin-top: .5rem;
            font-weight: bold;
            margin-top: 1.5rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia {
            margin-top: 1.5rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__img {
              width: 4rem;
              height: 4rem;
              margin-left: 3rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__text {
              margin-top: .5rem;
              font-weight: bold;
              margin-top: .5rem; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos {
            margin-top: 1.5rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__img {
              width: 4rem;
              height: 4rem;
              margin-left: 3rem; }
            #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__text {
              margin-top: .5rem;
              font-weight: bold;
              margin-top: .6rem; } }

.footer {
  background-color: black; }
  .footer .secciones__footer .secciones__footer--contacto {
    margin-top: 30px;
    margin-bottom: 30px; }
    .footer .secciones__footer .secciones__footer--contacto .footer__titulo-contacto {
      margin-left: 15%;
      color: #FECF07;
      font-family: museosans_900;
      font-size: 20px;
      border-bottom: 1px solid;
      width: fit-content;
      opacity: 0.8; }
    .footer .secciones__footer .secciones__footer--contacto .contacto__ubicacion {
      margin-left: 15%;
      opacity: 0.6; }
      .footer .secciones__footer .secciones__footer--contacto .contacto__ubicacion .icono__ubicacion {
        width: 24px;
        height: 24px; }
      .footer .secciones__footer .secciones__footer--contacto .contacto__ubicacion .texto__footer {
        color: #F6F6F6;
        margin-left: 10px; }
    .footer .secciones__footer .secciones__footer--contacto .contacto__telefono {
      margin-left: 15%;
      opacity: 0.6; }
      .footer .secciones__footer .secciones__footer--contacto .contacto__telefono .icono__telefono {
        width: 24px;
        height: 24px; }
      .footer .secciones__footer .secciones__footer--contacto .contacto__telefono .texto__footer {
        color: #F6F6F6;
        margin-left: 10px; }
    .footer .secciones__footer .secciones__footer--contacto .contacto__mail {
      margin-left: 15%;
      opacity: 0.6; }
      .footer .secciones__footer .secciones__footer--contacto .contacto__mail .icono__mail {
        width: 24px;
        height: 24px; }
      .footer .secciones__footer .secciones__footer--contacto .contacto__mail .texto__footer {
        color: #F6F6F6;
        margin-left: 10px; }
    .footer .secciones__footer .secciones__footer--contacto .redessociales {
      margin-left: 14%;
      opacity: 0.6; }
      .footer .secciones__footer .secciones__footer--contacto .redessociales .icono__redes {
        width: 24px;
        height: 24px;
        margin-right: 5px; }
  .footer .secciones__footer .footer__titulo-enlaces {
    margin-left: 15%;
    color: #FECF07;
    font-family: museosans_900;
    font-size: 20px;
    border-bottom: 1px solid;
    width: fit-content;
    opacity: 0.8; }
  .footer .secciones__footer .secciones__footer--link {
    margin-top: 30px;
    margin-bottom: 30px; }
    .footer .secciones__footer .secciones__footer--link .footer__lista {
      list-style: none;
      margin-left: 30px; }
      .footer .secciones__footer .secciones__footer--link .footer__lista .footer__lista-links {
        margin-bottom: 3px;
        margin-left: 0px;
        font-size: 18px;
        opacity: 0.6; }
      .footer .secciones__footer .secciones__footer--link .footer__lista .footer__link {
        text-decoration: none;
        color: #F6F6F6;
        margin-top: 10px; }
  .footer .secciones__footer .footer__titulo-formulario {
    margin-left: 28%;
    color: #FECF07;
    font-family: museosans_900;
    font-size: 20px;
    border-bottom: 1px solid;
    width: fit-content;
    opacity: 0.8; }
  .footer .secciones__footer .secciones__footer--formulario {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; }
    .footer .secciones__footer .secciones__footer--formulario .form__text {
      color: #F6F6F6;
      margin: 6px 0px 1px 0px; }
    .footer .secciones__footer .secciones__footer--formulario .form__boton {
      margin: 5px 0px; }
  @media only screen and (max-width: 1024px) {
    .footer .secciones__footer .secciones__footer--link .footer__lista {
      margin-left: 11px; }
      .footer .secciones__footer .secciones__footer--link .footer__lista .footer__lista-links {
        margin-left: 0px; }
    .footer .secciones__footer .footer__titulo-formulario {
      margin-left: 20%; } }
  @media only screen and (max-width: 768px) {
    .footer .secciones__footer .footer__titulo-formulario {
      margin-left: 8%; }
    .footer .secciones__footer .secciones__footer--link .footer__lista {
      margin-left: 0px; }
      .footer .secciones__footer .secciones__footer--link .footer__lista .footer__lista-links {
        margin-bottom: 4%; } }
  @media only screen and (max-width: 390px) {
    .footer .secciones__footer .footer__titulo-contacto {
      margin-left: 1%; }
    .footer .secciones__footer .secciones__footer--link .footer__lista .footer__lista-links {
      margin-left: 1%; }
    .footer .secciones__footer .footer__titulo-formulario {
      margin-left: 15%; }
      .footer .secciones__footer .footer__titulo-formulario .formulario__footer .formulario__footer--nombre {
        display: inline-block; }
    .footer .secciones__footer .secciones__footer--link .footer__lista {
      margin-left: 5.5%; }
      .footer .secciones__footer .secciones__footer--link .footer__lista .footer__lista-links {
        margin-bottom: 4%; } }

#contacto {
  background-color: black;
  overflow: hidden; }
  #contacto .contacto__titulo {
    color: #FECF07;
    font-family: museosans_900;
    font-size: 35px;
    margin-top: 40px; }
  #contacto .contacto__titulo--texto {
    font-family: museosans_900;
    font-size: 22px;
    margin-top: 50px;
    color: #F6F6F6; }
  #contacto .contacto__consultas {
    gap: 15%;
    margin-top: 70px; }
    #contacto .contacto__consultas .contacto__img--ubicacion {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
      border-radius: 50%; }
    #contacto .contacto__consultas .contacto__ubicacion--text {
      color: #F6F6F6;
      font-family: museosans_900; }
    #contacto .contacto__consultas .contacto__email--text {
      color: #F6F6F6;
      font-family: museosans_900; }
    #contacto .contacto__consultas .contacto__img--email {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
      border-radius: 50%; }
  #contacto .contacto__consulta {
    color: #F6F6F6;
    font-family: museosans_900;
    font-size: 25px;
    border-bottom: 4px solid #FECF07;
    width: fit-content;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 26%; }
  #contacto .formulario__contacto {
    margin-left: 25%;
    margin-right: 30px; }
    #contacto .formulario__contacto .form-label {
      color: #F6F6F6;
      font-size: 20px; }
    #contacto .formulario__contacto .form-control {
      width: 70%;
      height: 2.5rem;
      opacity: 0.9; }
    #contacto .formulario__contacto .textarea {
      height: fit-content; }
    #contacto .formulario__contacto .form__boton-contacto {
      margin-left: 25%;
      margin-bottom: 10%;
      width: 100px;
      height: 30px;
      border-radius: 8px;
      opacity: 0.9; }
  @media only screen and (max-width: 1024px) {
    #contacto .formulario__contacto .form__boton-contacto {
      margin-left: 22%; } }
  @media only screen and (max-width: 768px) {
    #contacto .formulario__contacto .form__boton-contacto {
      margin-left: 19%; } }
  @media only screen and (max-width: 390px) {
    #contacto .contacto__consulta {
      margin-top: 15%;
      margin-bottom: 10%;
      margin-left: 10%; }
    #contacto .formulario__contacto {
      margin-left: 9%;
      margin-right: 0px; }
      #contacto .formulario__contacto .form-label {
        color: #F6F6F6;
        font-size: 20px; }
      #contacto .formulario__contacto .form-control {
        width: 90%; }
      #contacto .formulario__contacto .form__boton-contacto {
        margin-left: 22%;
        margin-bottom: 15%; } }
  @media only screen and (max-width: 375px) {
    #contacto .formulario__contacto .form__boton-contacto {
      margin-left: 20%; } }
  @media only screen and (max-width: 320px) {
    #contacto .formulario__contacto .form__boton-contacto {
      margin-left: 18%; } }
