* {
  margin: 0;
  padding: 0; }

body .cabecera .container-fluid .navbar-brand .cabecera__logo {
  width: 80px;
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-top: .7rem; }

body .cabecera .container-fluid .contenedor__navbar .navbar-nav {
  margin-left: .5rem; }
  body .cabecera .container-fluid .contenedor__navbar .navbar-nav .nav-item .nav-link {
    color: white; }

@media only screen and (min-width: 1200px) {
  body .cabecera .navbar .container-fluid {
    margin-right: 3rem; }
    body .cabecera .navbar .container-fluid .cabecera__logo {
      margin-top: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem; } }

#home {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../imagen/imageninicio2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }
  #home .home__sticker {
    position: relative; }
    #home .home__sticker img {
      width: 30vw;
      position: absolute;
      top: -8vh; }
  #home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 87vh;
    max-width: 1400px; }
    #home .container .home__text1 {
      color: white;
      font-size: 4.2vw;
      text-shadow: 3px 3px 3px black;
      margin-top: 15vh; }
    #home .container .home__text2 {
      color: white;
      font-size: 4.5vw;
      text-shadow: 3px 3px 3px black; }
    #home .container .home__boton {
      text-decoration: none;
      color: white;
      padding: 5px 15px;
      border: 3px solid black;
      background-color: black;
      border-radius: 10px;
      margin-top: 1vh; }
  @media only screen and (min-width: 768px) {
    #home .home__sticker img {
      top: -20vh; }
    #home .container .home__text1 {
      font-size: 3.5vw;
      text-shadow: 3px 3px 3px black;
      margin-top: 20vh; }
    #home .container .home__text2 {
      font-size: 4vw;
      text-shadow: 3px 3px 3px black; } }
  @media only screen and (min-width: 1200px) {
    #home .home__sticker img {
      top: -30vh; }
    #home .container {
      height: 89vh; }
      #home .container .home__text1 {
        font-size: 2.5vw;
        text-shadow: 3px 3px 3px black;
        margin-top: 24vh; }
      #home .container .home__text2 {
        font-size: 3.5vw;
        text-shadow: 3px 3px 3px black; } }

#nosotros .container .nosotros__imagen {
  height: 21rem;
  margin: 0vh 1vw;
  margin-top: -.2vh; }

#nosotros .container .contenedor_nosotros {
  display: flex;
  flex-direction: column; }
  #nosotros .container .contenedor_nosotros .nosotros_titulo {
    font-size: 4vh;
    margin-top: 4vh;
    border-bottom: 2px solid black;
    border-radius: 1px;
    width: fit-content; }
  #nosotros .container .contenedor_nosotros .nosotros__texto {
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 2vh; }

#nosotros .container .contenedor__caracteristicas {
  flex-direction: row;
  gap: 10%;
  padding-bottom: 4vh; }
  #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso {
    align-items: center; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
      width: 8vw;
      height: 7.3vh; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
      font-size: 2vh;
      margin-top: 2vh; }
  #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
    width: 8.5vw;
    height: 7vh; }
  #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
    font-size: 2vh;
    margin-top: 2vh; }
  #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
    width: 8.5vw;
    height: 7vh; }
  #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
    font-size: 2vh;
    margin-top: 2vh; }
  #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
    width: 8.5vw;
    height: 7vh; }
  #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
    font-size: 2vh;
    margin-top: 2vh; }

#modelos {
  background-color: black; }
  #modelos .container {
    margin-right: 0px; }
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 4vh;
      margin-top: 4vh;
      border-bottom: 2px solid white;
      border-radius: 1px;
      width: fit-content;
      color: white; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 3vh;
      margin-top: 4vh;
      margin-bottom: 0vh;
      color: white; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 2vh;
      color: white; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 2vh;
      color: white; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 200px; }
    #modelos .container .contenedor__carrousel .carousel {
      margin-left: 4v; }

#viviendas .container .contenedor__viviendas .viviendas__titulo {
  font-size: 3vh;
  margin-top: 4vh;
  border-bottom: 2px solid black;
  border-radius: 1px;
  width: fit-content; }

#viviendas .container .contenedor__viviendas .vivienda__text1 {
  font-size: 3vh;
  margin-top: 8vh;
  margin-bottom: 0px; }

#viviendas .container .contenedor__viviendas .vivienda__text2 {
  font-size: 2vh; }

#viviendas .container .contenedor__viviendas .vivienda__text3 {
  font-size: 2vh; }

#viviendas .container .contenedor__metros .img__tick {
  width: 60px; }

#viviendas .container .contenedor__metros .metros__text {
  font-size: 2.5vh;
  margin-bottom: 0px;
  margin-top: 2.1vh; }

#viviendas .container .contenedor__equipado .img__equipado {
  width: 60px; }

#viviendas .container .contenedor__equipado .equipado__text {
  font-size: 2.5vh;
  margin-bottom: 0px;
  margin-top: 2.1vh; }

#viviendas .container .contenedor__financiado .img__financiado {
  width: 60px; }

#viviendas .container .contenedor__financiado .financiado__text {
  font-size: 2.5vh;
  margin-bottom: 0px;
  margin-top: 2.1vh; }

#viviendas .container .contenedor__imagen .viviendas__imagen {
  height: 19rem;
  margin: 0vh 1vw; }
