/*Maps*/
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: museosans-300;
  src: url("./../tipografias/MuseoSans-300.otf"); }

@font-face {
  font-family: jersey_m54;
  src: url("../tipografias/Jersey_M54[1].ttf"); }

@font-face {
  font-family: museosans_500;
  src: url("../tipografias/MuseoSans_500_Italic.otf"); }

@font-face {
  font-family: museosans_100;
  src: url("../tipografias/MuseoSans-100.otf"); }

@font-face {
  font-family: museosans_900;
  src: url("./../tipografias/MuseoSans_1.otf"); }

@font-face {
  font-family: museosans-700italic;
  src: url("./../tipografias/MuseoSans-700Italic.otf"); }

@font-face {
  font-family: museosans-500;
  src: url("./../tipografias/MuseoSans_1.otf"); }

body .cabecera {
  position: fixed;
  width: 100%;
  z-index: 100; }
  body .cabecera .container-fluid .navbar-brand .cabecera__logo {
    width: 80px;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-top: .7rem; }
  body .cabecera .container-fluid .contenedor__navbar .navbar-nav {
    margin-left: .5rem; }
    body .cabecera .container-fluid .contenedor__navbar .navbar-nav .nav-item .nav-link {
      color: white;
      font-family: museosans-300; }

@media only screen and (min-width: 1200px) {
  body .cabecera .navbar .container-fluid {
    margin-right: 3rem; }
    body .cabecera .navbar .container-fluid .cabecera__logo {
      margin-top: 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem; } }

#home {
  background-image: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../imagen/imageninicio2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 13vh; }
  #home .home__sticker {
    position: relative; }
    #home .home__sticker img {
      width: 30vw;
      position: absolute;
      top: 5vh; }
  #home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 87vh;
    max-width: 1400px; }
    #home .container .home__text1 {
      color: #F6F6F6;
      font-size: 4.8vw;
      text-shadow: 3px 3px 3px black;
      margin-top: 25vh;
      font-family: jersey_m54; }
    #home .container .home__text2 {
      color: #F6F6F6;
      font-size: 5.5vw;
      text-shadow: 3px 3px 3px black;
      font-family: jersey_m54; }
    #home .container .home__boton {
      text-decoration: none;
      color: white;
      padding: 0.1vh 2vw;
      border: 3px solid #FECF07;
      background-color: #FECF07;
      border-radius: 3px;
      margin-top: 1vh;
      font-weight: bolder;
      font-size: 3vw; }
  @media only screen and (min-width: 768px) {
    #home .home__sticker img {
      top: -3vh; }
    #home .container .home__text1 {
      font-size: 3vw;
      text-shadow: 3px 3px 3px black;
      margin-top: 28vh;
      margin-bottom: .5vh; }
    #home .container .home__text2 {
      font-size: 4vw;
      text-shadow: 3px 3px 3px black; }
    #home .container .home__boton {
      font-size: 1.5vw;
      padding: 0.1vh 1vw; } }
  @media only screen and (min-width: 1200px) {
    #home {
      padding-bottom: 13vh; }
      #home .home__sticker img {
        margin-top: -15vh; }
      #home .container .home__text1 {
        font-size: 2.5vw;
        text-shadow: 3px 3px 3px black;
        margin-top: 35vh;
        margin-bottom: .5vh; }
      #home .container .home__text2 {
        font-size: 3.5vw; }
      #home .container .home__boton {
        font-size: 1.1vw;
        padding: .1vh .5vw; } }

#nosotros {
  background-color: #F6F6F6; }
  #nosotros .container .nosotros__imagen {
    width: 100%;
    margin: 0 3vw;
    margin-top: -.2vh; }
  #nosotros .container .contenedor_nosotros {
    display: flex;
    flex-direction: column; }
    #nosotros .container .contenedor_nosotros .nosotros_titulo {
      font-size: 6vw;
      font-weight: bolder;
      margin-top: 6vh;
      margin-bottom: 2vh;
      margin-left: 3vw;
      border-bottom: 2px solid #FECF07;
      border-radius: 1px;
      width: fit-content;
      font-family: museosans_900;
      color: #FECF07; }
    #nosotros .container .contenedor_nosotros .nosotros__texto {
      margin-top: 6vh;
      margin-bottom: 2vh;
      font-size: 3.83vw;
      font-family: museosans_100;
      margin-left: 3vw;
      padding-bottom: 3vh; }
  #nosotros .container .contenedor__caracteristicas {
    flex-direction: row;
    gap: 5%;
    padding-bottom: 6vh;
    margin-left: 2vw; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso {
      align-items: center; }
      #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
        width: 2.3rem;
        height: 2.3rem; }
      #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
        font-size: 4vw;
        margin-top: 2.5vh;
        font-size: museosans-500; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
      width: 2.3rem;
      height: 2.3rem; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
      font-size: 4vw;
      margin-top: 1.5vh;
      font-size: museosans-500; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
      width: 2.3rem;
      height: 2.3rem;
      margin-top: 1vh; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
      font-size: 4vw;
      margin-top: 2.3vh;
      font-size: museosans-500; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
      width: 2.3rem;
      height: 2.3rem; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
      font-size: 4vw;
      margin-top: 1.5vh;
      font-size: museosans-500; }
  @media only screen and (min-width: 768px) {
    #nosotros .container .nosotros__imagen {
      margin: 0 4vw;
      margin-top: -.2vh; }
    #nosotros .container .contenedor_nosotros .nosotros_titulo {
      font-size: 2.5vw; }
    #nosotros .container .contenedor_nosotros .nosotros__texto {
      font-size: 1.8vw;
      margin-bottom: 1vh;
      padding-bottom: 1vh; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
      font-size: 1.8vw; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
      font-size: 1.8vw;
      margin-top: 2vh; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
      font-size: 1.8vw;
      margin-top: 3vh; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
      width: 3rem;
      height: 3rem; }
    #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
      font-size: 1.8vw; } }
  @media only screen and (min-width: 1200px) {
    #nosotros .container .nosotros__imagen {
      margin: 0 4vw;
      margin-top: -.3vh;
      width: 90%;
      margin-left: 6vw; }
    #nosotros .container .contenedor_nosotros .nosotros_titulo {
      font-size: 2vw;
      margin-top: 12vh;
      margin-left: 6vw; }
    #nosotros .container .contenedor_nosotros .nosotros__texto {
      font-size: 1.5vw;
      margin-bottom: 1vh;
      padding-bottom: 3vh;
      margin-top: 12vh;
      margin-left: 6vw; }
    #nosotros .container .contenedor__caracteristicas {
      gap: 15%; }
      #nosotros .container .contenedor__caracteristicas .compromiso-fabrica {
        margin-left: 3vw; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__img {
          width: 3.5rem;
          height: 3.5rem; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .compromiso .compromiso__text {
          font-size: 1.5vw; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__img {
          width: 3.5rem;
          height: 3.5rem; }
        #nosotros .container .contenedor__caracteristicas .compromiso-fabrica .fabrica .fabrica__text {
          font-size: 1.5vw;
          margin-top: 2vh; }
      #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__img {
        width: 3.5rem;
        height: 3.5rem; }
      #nosotros .container .contenedor__caracteristicas .calidad-entrega .calidad__text {
        font-size: 1.5vw;
        margin-top: 3vh; }
      #nosotros .container .contenedor__caracteristicas .entrega .entrega__img {
        width: 3.5rem;
        height: 3.5rem; }
      #nosotros .container .contenedor__caracteristicas .entrega .entrega__text {
        font-size: 1.5vw; } }

#modelos {
  background-color: black; }
  #modelos .container {
    margin-right: 0px; }
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 6vw;
      font-weight: bolder;
      margin-top: 6vh;
      margin-bottom: 2vh;
      margin-left: 3vw;
      border-bottom: 2px solid #FECF07;
      border-radius: 1px;
      width: fit-content;
      font-family: museosans_900;
      color: #FECF07; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 9vw;
      margin-top: 8vh;
      margin-bottom: 0vh;
      color: #F6F6F6;
      font-family: jersey_m54;
      margin-left: 3vw; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 4.5vw;
      color: #F6F6F6;
      margin-left: 3vw;
      font-family: museosans-700italic; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 4.5vw;
      color: #F6F6F6;
      margin-left: 3vw;
      font-family: museosans_100;
      margin-top: 5vh; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 70%; }
    #modelos .container .contenedor__carrousel .carousel {
      margin: 0 3vw;
      width: 100%;
      margin-bottom: 4vh; }
  @media only screen and (min-width: 768px) {
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 2.5vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 4vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 1.9vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 2vw;
      margin-left: 4vw; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 50%; }
    #modelos .container .contenedor__carrousel .carousel {
      margin-left: 7vw;
      margin-bottom: 5vh;
      width: 65%; } }
  @media only screen and (min-width: 1200px) {
    #modelos .container .contenedor__modelos .modelos__titulo {
      font-size: 2vw;
      margin-top: 12vh;
      margin-left: 6vw; }
    #modelos .container .contenedor__modelos .modelos__text1 {
      font-size: 3.5vw;
      margin-left: 6vw; }
    #modelos .container .contenedor__modelos .modelos__text2 {
      font-size: 1.6vw;
      margin-left: 6vw; }
    #modelos .container .contenedor__modelos .modelos__text3 {
      font-size: 1.5vw;
      margin-left: 6vw; }
    #modelos .container .contenedor__carrousel .contenedor__rayas .img__rayas {
      width: 50%;
      margin-right: 7vw; }
    #modelos .container .contenedor__carrousel .carousel {
      margin-left: 7vw;
      margin-bottom: 6vh;
      width: 55%; } }

#viviendas {
  background-color: #F6F6F6; }
  #viviendas .container .contenedor__viviendas .viviendas__titulo {
    font-size: 6vw;
    font-weight: bolder;
    margin-top: 5vh;
    margin-left: 3vw;
    border-bottom: 2px solid #FECF07;
    border-radius: 1px;
    width: fit-content;
    font-family: museosans_900;
    color: #FECF07; }
  #viviendas .container .contenedor__viviendas .vivienda__text1 {
    font-size: 8.5vw;
    margin-top: 8vh;
    margin-bottom: 0vh;
    color: black;
    font-family: jersey_m54;
    margin-left: 3vw; }
  #viviendas .container .contenedor__viviendas .vivienda__text2 {
    font-size: 7vw;
    color: black;
    margin-left: 3vw;
    font-family: museosans-700italic; }
  #viviendas .container .contenedor__viviendas .vivienda__text3 {
    font-size: 4.3vw;
    color: black;
    margin-left: 3vw;
    font-family: museosans_100;
    margin-top: 5vh; }
  #viviendas .container .contenedor__metros .img__tick {
    width: 3rem;
    height: 3rem; }
  #viviendas .container .contenedor__metros .metros__text {
    font-size: 4vw;
    margin-top: 2vh;
    font-size: museosans-500;
    font-weight: bold; }
  #viviendas .container .contenedor__equipado .img__equipado {
    width: 3rem;
    height: 3rem; }
  #viviendas .container .contenedor__equipado .equipado__text {
    font-size: 4vw;
    margin-top: 2vh;
    font-size: museosans-500;
    font-weight: bold; }
  #viviendas .container .contenedor__financiado {
    margin-bottom: 3vh; }
    #viviendas .container .contenedor__financiado .img__financiado {
      width: 3rem;
      height: 3rem; }
    #viviendas .container .contenedor__financiado .financiado__text {
      font-size: 4vw;
      margin-top: 2vh;
      font-size: museosans-500;
      font-weight: bold; }
  #viviendas .container .contenedor__imagen {
    padding: 0; }
    #viviendas .container .contenedor__imagen .viviendas__imagen {
      width: 106%;
      margin: 0vh 0vw; }
  @media only screen and (min-width: 768px) {
    #viviendas {
      overflow: hidden; }
      #viviendas .container .contenedor__viviendas {
        margin-bottom: -2vh; }
        #viviendas .container .contenedor__viviendas .viviendas__titulo {
          font-size: 2.5vw;
          margin-left: 4vw; }
        #viviendas .container .contenedor__viviendas .vivienda__text1 {
          font-size: 4vw;
          margin-left: 4vw;
          margin-top: 5vh; }
        #viviendas .container .contenedor__viviendas .vivienda__text2 {
          font-size: 3vw;
          margin-left: 4vw; }
        #viviendas .container .contenedor__viviendas .vivienda__text3 {
          font-size: 2vw;
          margin-left: 4vw;
          margin-top: 2vh;
          margin-bottom: 0px; }
      #viviendas .container .contenedor__metros {
        margin-bottom: -2vh; }
        #viviendas .container .contenedor__metros .img__tick {
          width: 3rem;
          height: 3rem;
          margin-left: 3vw; }
        #viviendas .container .contenedor__metros .metros__text {
          font-size: 1.8vw; }
      #viviendas .container .contenedor__equipado {
        margin-bottom: -2vh; }
        #viviendas .container .contenedor__equipado .img__equipado {
          width: 3rem;
          height: 3rem;
          margin-left: 3vw; }
        #viviendas .container .contenedor__equipado .equipado__text {
          font-size: 1.8vw; }
      #viviendas .container .contenedor__financiado {
        margin-bottom: 3vh; }
        #viviendas .container .contenedor__financiado .img__financiado {
          width: 3rem;
          height: 3rem;
          margin-left: 3vw; }
        #viviendas .container .contenedor__financiado .financiado__text {
          font-size: 1.8vw; }
      #viviendas .container .contenedor__imagen .viviendas__imagen {
        width: 127%;
        margin: 0vh 0vw;
        margin-top: -.5vh; } }
  @media only screen and (min-width: 1200px) {
    #viviendas .container .contenedor__viviendas {
      margin-bottom: -2vh; }
      #viviendas .container .contenedor__viviendas .viviendas__titulo {
        font-size: 2vw;
        margin-top: 12vh;
        margin-left: 6vw; }
      #viviendas .container .contenedor__viviendas .vivienda__text1 {
        font-size: 3.5vw;
        margin-left: 6vw; }
      #viviendas .container .contenedor__viviendas .vivienda__text2 {
        font-size: 2.4vw;
        margin-left: 6vw; }
      #viviendas .container .contenedor__viviendas .vivienda__text3 {
        font-size: 1.4vw;
        margin-left: 6vw;
        margin-top: 5vh;
        margin-bottom: 3vh; }
    #viviendas .container .contenedor__metros {
      margin-bottom: -2vh; }
      #viviendas .container .contenedor__metros .img__tick {
        width: 3.7rem;
        height: 3.7rem;
        margin-left: 5vw; }
      #viviendas .container .contenedor__metros .metros__text {
        font-size: 1.4vw; }
    #viviendas .container .contenedor__equipado {
      margin-bottom: -2vh; }
      #viviendas .container .contenedor__equipado .img__equipado {
        width: 3.7rem;
        height: 3.7rem;
        margin-left: 5vw; }
      #viviendas .container .contenedor__equipado .equipado__text {
        font-size: 1.4vw; }
    #viviendas .container .contenedor__financiado {
      margin-bottom: 3vh; }
      #viviendas .container .contenedor__financiado .img__financiado {
        width: 3.7rem;
        height: 3.7rem;
        margin-left: 5vw; }
      #viviendas .container .contenedor__financiado .financiado__text {
        font-size: 1.4vw; }
    #viviendas .container .contenedor__imagen .viviendas__imagen {
      width: 100%;
      margin-left: 17vh;
      margin-top: -.5vh; } }

#proyectos {
  background-color: black; }
  #proyectos .container {
    overflow: hidden;
    padding-bottom: 40vh; }
    #proyectos .container .contenedor__img {
      position: relative; }
      #proyectos .container .contenedor__img .proyecto__img {
        width: 30vw;
        position: absolute;
        top: -8vh; }
    #proyectos .container .contenedor__proyecto {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 5vh; }
      #proyectos .container .contenedor__proyecto .proyecto__titulo {
        font-size: 6vw;
        font-weight: bolder;
        margin-top: 4vh;
        margin-left: 3vw;
        border-bottom: 2px solid #FECF07;
        border-radius: 1px;
        width: fit-content;
        font-family: museosans_900;
        color: #FECF07; }
      #proyectos .container .contenedor__proyecto .proyecto__text {
        font-family: museosans-300;
        color: #F6F6F6; }
  @media only screen and (min-width: 768px) {
    #proyectos .container .contenedor__img .proyecto__img {
      width: 30vw;
      position: absolute;
      top: -20vh; }
    #proyectos .container .contenedor__proyecto {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 5vh; }
      #proyectos .container .contenedor__proyecto .proyecto__titulo {
        font-size: 2.5vw; }
      #proyectos .container .contenedor__proyecto .proyecto__text {
        font-size: 4vh; } }
  @media only screen and (min-width: 1200px) {
    #proyectos .container {
      padding-bottom: 65vh; }
      #proyectos .container .contenedor__img .proyecto__img {
        width: 30vw;
        position: absolute;
        top: -30vh; }
      #proyectos .container .contenedor__proyecto {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5vh; }
        #proyectos .container .contenedor__proyecto .proyecto__titulo {
          font-size: 2vw;
          margin-bottom: 2vh; }
        #proyectos .container .contenedor__proyecto .proyecto__text {
          font-size: 4vh; } }

#beneficios {
  background-color: #F6F6F6;
  overflow: hidden; }
  #beneficios .container .contenedor__imagen .beneficio__img {
    width: 100%;
    margin: 0vh 3vw;
    margin-top: -.5vh; }
  #beneficios .container .beneficio__contenedor .contenedor__textos {
    text-align: center;
    margin-top: 5vh; }
    #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__titulo {
      font-size: 10vw;
      color: black;
      font-family: jersey_m54; }
    #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__text {
      font-size: 6vw;
      color: black;
      font-family: jersey_m54; }
  #beneficios .container .beneficio__contenedor .contenedor__beneficios {
    margin-top: 7vh;
    margin-bottom: 6vh; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__img {
      width: 3rem;
      height: 3rem; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__text {
      font-size: 4vw;
      font-size: museosans-500; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__img {
      width: 3rem;
      height: 3rem; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__text {
      font-size: 4vw;
      font-size: museosans-500; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__img {
      width: 3rem;
      height: 3rem; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__text {
      font-size: 4vw;
      margin-top: 2vh;
      font-size: museosans-500; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__img {
      width: 3rem;
      height: 3rem; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__text {
      font-size: 4vw;
      margin-top: 2vh;
      font-size: museosans-500; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia {
      margin-top: 2.5vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__img {
        width: 3rem;
        height: 3rem; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__text {
        font-size: 4vw;
        font-size: museosans-500; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__img {
      width: 3rem;
      height: 3rem; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__text {
      font-size: 4vw;
      font-size: museosans-500; }
  @media only screen and (min-width: 768px) {
    #beneficios .container .contenedor__imagen .beneficio__img {
      width: 105%; }
    #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__titulo {
      font-size: 4vw;
      margin-left: 1.5vw; }
    #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__text {
      font-size: 3vw;
      margin-left: 1.5vw; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios {
      margin-top: 7vh;
      margin-bottom: 6vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 4vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__text {
        font-size: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 4vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__text {
        font-size: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 4vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__text {
        font-size: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 4vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__text {
        font-size: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia {
        margin-top: 2.5vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__img {
          width: 2.5rem;
          height: 2.5rem;
          margin-left: 4vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__text {
          font-size: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__img {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 4vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__text {
        font-size: 1.5vw; } }
  @media only screen and (min-width: 1200px) {
    #beneficios .container .contenedor__imagen .beneficio__img {
      margin: 0 4vw;
      margin-top: -.4vh;
      width: 90%;
      margin-left: 6vw; }
    #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__titulo {
      font-size: 4vw;
      margin-left: 1.5vw;
      margin-top: 8vh; }
    #beneficios .container .beneficio__contenedor .contenedor__textos .beneficio__text {
      font-size: 3vw;
      margin-left: 1.5vw;
      margin-bottom: 10vh; }
    #beneficios .container .beneficio__contenedor .contenedor__beneficios {
      margin-top: 7vh;
      margin-bottom: 6vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento {
        margin-bottom: 2vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__img {
          width: 4rem;
          height: 4rem;
          margin-left: 4vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .mantenimiento .mantenimiento__text {
          font-size: 1.5vw;
          margin-top: 2vh; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion {
        margin-bottom: 2vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__img {
          width: 4rem;
          height: 4rem;
          margin-left: 4vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .construccion .construccion__text {
          font-size: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero {
        margin-bottom: 2vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__img {
          width: 4rem;
          height: 4rem;
          margin-left: 4vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__mantenimiento .recupero .recupero__text {
          font-size: 1.5vw; }
      #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado {
        margin-bottom: 2vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__img {
          width: 4rem;
          height: 4rem;
          margin-left: 4vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .traslado .traslado__text {
          font-size: 1.5vw; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia {
          margin-top: 2.5vh;
          margin-bottom: 2vh; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__img {
            width: 4rem;
            height: 4rem;
            margin-left: 4vw; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .garantia .garantia__text {
            font-size: 1.5vw;
            margin-top: 2vh; }
        #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos {
          margin-bottom: 2vh; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__img {
            width: 4rem;
            height: 4rem;
            margin-left: 4vw; }
          #beneficios .container .beneficio__contenedor .contenedor__beneficios .contenedor__traslado .aseguramos .aseguramos__text {
            font-size: 1.5vw; } }
