#beneficios{
    background-color: #F6F6F6;
    overflow: hidden;
    .container{
        
        .contenedor__imagen{

            .beneficio__img{
                width: 100%;
                margin: 0vh 3vw;
                margin-top: -.5vh;
            
            }
        }

        .beneficio__contenedor{
  
            .contenedor__textos{
                text-align: center;
                margin-top: 5vh;

                .beneficio__titulo{ 
                    font-size: 10vw;
                    color: black;
                    font-family: jersey_m54;
                }
                .beneficio__text{
                    font-size: 6vw;
                    color: black;
                    font-family: jersey_m54;
                }
            }
            
            .contenedor__beneficios{
                margin-top: 7vh;
                margin-bottom: 6vh;
                
                .contenedor__mantenimiento{
                    
                    .mantenimiento{
                        
                        .mantenimiento__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .mantenimiento__text{
                            font-size: 4vw;
                            font-size: museosans-500;
                            
                        }
                        
                    }
                    .construccion{
                        
                        .construccion__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .construccion__text{
                            font-size: 4vw;
                            font-size: museosans-500;
                            
                        }
                    }
                    .recupero{
                        
                        .recupero__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .recupero__text{
                            font-size: 4vw;
                            margin-top: 2vh;
                            font-size: museosans-500;
                            
                        }
                    }
                    
                    
                }
                
                .contenedor__traslado{
                    
                    .traslado{
                        
                        .traslado__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .traslado__text{
                            font-size: 4vw;
                            margin-top: 2vh;
                            font-size: museosans-500;
                            
                        }
                    }
                    .garantia{
                        margin-top: 2.5vh;
                        .garantia__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .garantia__text{
                            font-size: 4vw;
                            font-size: museosans-500;
                            
                        }
                    }
                    .aseguramos{
                        
                        .aseguramos__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .aseguramos__text{
                            font-size: 4vw;
                            font-size: museosans-500;
                            
                        }
                    }
                    
                }
                
            }


        }
    }

    @media only screen and (min-width: 768px){
        
        .container{
            
            .contenedor__imagen{
    
                .beneficio__img{
                    width: 105%;
                
                }
            }
    
            .beneficio__contenedor{

                .contenedor__textos{
    
                    .beneficio__titulo{ 
                        font-size: 4vw;
                        margin-left: 1.5vw;
        
                    }
                    .beneficio__text{
                        font-size: 3vw;
                        margin-left: 1.5vw;

                    }
                }
                
                .contenedor__beneficios{
                    margin-top: 7vh;
                    margin-bottom: 6vh;
                    
                    .contenedor__mantenimiento{
                        
                        .mantenimiento{
                            
                            .mantenimiento__img{
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-left: 4vh;
                            }
                            .mantenimiento__text{
                                font-size: 1.5vw;
                                
                            }
                            
                        }
                        .construccion{
                            
                            .construccion__img{
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-left: 4vh;
                            }
                            .construccion__text{
                                font-size: 1.5vw;
                                
                            }
                        }
                        .recupero{
                            
                            .recupero__img{
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-left: 4vh;
                            }
                            .recupero__text{
                                font-size: 1.5vw;
                                
                            }
                        }
                        
                        
                    }
                    
                    .contenedor__traslado{
                        
                        .traslado{
                            
                            .traslado__img{
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-left: 4vh;
                            }
                            .traslado__text{
                                font-size: 1.5vw;
                                
                            }
                        }
                        .garantia{
                            margin-top: 2.5vh;
                            .garantia__img{
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-left: 4vh;
                            }
                            .garantia__text{
                                font-size: 1.5vw;
                                
                            }
                        }
                        .aseguramos{
                            
                            .aseguramos__img{
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-left: 4vh;
                            }
                            .aseguramos__text{
                                font-size: 1.5vw;
                                
                            }
                        }
                        
                    }
                    
                }
    
    
            }
        }
    }
    @media only screen and (min-width: 1024px){

        .container{
            
            .contenedor__imagen{
    
                .beneficio__img{
                    margin-top: -.2rem;
                    width: 100%;
                    margin-left: 4rem;
                
                }
            }
    
            .beneficio__contenedor{

                .contenedor__textos{
    
                    .beneficio__titulo{ 
                        font-size: 3rem;
                        margin-left: 5rem;
                        margin-top: 2.5rem;
        
                    }
                    .beneficio__text{
                        font-size: 2rem;
                        margin-left: 5rem;
                        margin-bottom: 2rem;

                    }
                }
                
                .contenedor__beneficios{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    
                    .contenedor__mantenimiento{
                        
                        .mantenimiento{
                            margin-bottom: 1rem;
                            .mantenimiento__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 4rem;
                            }
                            .mantenimiento__text{
                                font-size: 1rem;
                                margin-top: .5rem;
                                
                            }
                            
                        }
                        .construccion{
                            margin-bottom: 1rem;
                            .construccion__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 4rem;
                            }
                            .construccion__text{
                                font-size: 1rem;
                                margin-top: .5rem;
                                
                            }
                        }
                        .recupero{
                            margin-bottom: 1rem;
                            .recupero__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 4rem;
                            }
                            .recupero__text{
                                font-size: 1rem;
                                margin-top: .5rem;
                                
                            }
                        }
                        
                        
                    }
                    
                    .contenedor__traslado{
                        margin-bottom: 1rem;
                        .traslado{
                            
                            .traslado__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 3rem;
                            }
                            .traslado__text{
                                font-size: 1rem;
                                margin-top: 1.5rem;
                                
                            }
                        }
                        .garantia{
                            margin-top: 1.5rem;
                            
                            .garantia__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 3rem;
                            }
                            .garantia__text{
                                font-size: 1rem;
                                margin-top: .5rem;
                                
                            }
                        }
                        .aseguramos{
                            margin-top: 1rem;
                            .aseguramos__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 3rem;
                            }
                            .aseguramos__text{
                                font-size: 1rem;
                                margin-top: .6rem;
                                
                            }
                        }
                        
                    }
                    
                }
    
    
            }
        }
    }
    @media only screen and (min-width: 1200px){

        .container{
            
            .contenedor__imagen{
    
                .beneficio__img{
                    margin-top: -.2rem;
                    width: 100%;
                    margin-left: 4rem;
                
                }
            }
    
            .beneficio__contenedor{

                .contenedor__textos{
    
                    .beneficio__titulo{ 
                        font-size: 3rem;
                        margin-left: 6rem;
                        margin-top: 3rem;
        
                    }
                    .beneficio__text{
                        font-size: 2rem;
                        margin-left: 6rem;
                        margin-bottom: 7rem;

                    }
                }
                
                .contenedor__beneficios{
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    
                    .contenedor__mantenimiento{
                        
                        .mantenimiento{
                            margin-bottom: 1rem;
                            .mantenimiento__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 7rem;
                            }
                            .mantenimiento__text{
                                margin-top: .5rem;
                                font-weight: bold;
                                margin-top: 1.5rem;
                                
                            }
                            
                        }
                        .construccion{
                            margin-bottom: 1rem;
                            .construccion__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 7rem;
                            }
                            .construccion__text{
                                font-size: 1.1rem;
                                margin-top: .5rem;
                                font-weight: bold;
                                
                            }
                        }
                        .recupero{
                            margin-bottom: 1rem;
                            .recupero__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 7rem;
                            }
                            .recupero__text{
                                margin-top: .5rem;
                                font-weight: bold;
                                margin-top: 1.2rem;
                                
                            }
                        }
                        
                        
                    }
                    
                    .contenedor__traslado{
                        margin-bottom: 1rem;
                        .traslado{
                            
                            .traslado__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 3rem;
                            }
                            .traslado__text{
                                margin-top: .5rem;
                                font-weight: bold;
                                margin-top: 1.5rem;
                                
                            }
                        }
                        .garantia{
                            margin-top: 2.5rem;
                            
                            .garantia__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 3rem;
                            }
                            .garantia__text{
                                margin-top: .5rem;
                                font-weight: bold;
                                margin-top: .5rem;
                                
                            }
                        }
                        .aseguramos{
                            margin-top: 1.5rem;
                            .aseguramos__img{
                                width: 4rem;
                                height: 4rem;
                                margin-left: 3rem;
                            }
                            .aseguramos__text{
                                margin-top: .5rem;
                                font-weight: bold;
                                margin-top: .6rem;
                                
                            }
                        }
                        
                    }
                    
                }
    
    
            }
        }
    }
}