.footer{
    background-color: black;



    .secciones__footer{
        

        .secciones__footer--contacto{
            margin-top: 30px;
            margin-bottom: 30px;
            
            
            .footer__titulo-contacto{
                margin-left: 15%;
                color: map-get($color, color-secundario);
                font-family: museosans_900;
                font-size: 20px;
                border-bottom: 1px solid;
                width: fit-content;
                opacity: 0.8;

            }
            
            .contacto__ubicacion{
                margin-left: 15%;
                opacity: 0.6;

                .icono__ubicacion{
                    width: 24px;
                    height: 24px;
                    
                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
            }



            .contacto__telefono{
                margin-left: 15%;
                opacity: 0.6;

                .icono__telefono{
                    width: 24px;
                    height: 24px;

                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }
            .contacto__mail{
                margin-left: 15%;
                opacity: 0.6;

                .icono__mail{
                    width: 24px;
                    height: 24px;

                }
                .texto__footer{
                    color: map-get($color, color-principal);
                    margin-left: 10px;
                }
                    
            }

            .redessociales{
                margin-left: 14%;
                opacity: 0.6;

                .icono__redes{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
            }
        }

        .footer__titulo-enlaces{
            margin-left: 15%;
            color: map-get($color, color-secundario);
            font-family: museosans_900;
            font-size: 20px;
            border-bottom: 1px solid;
            width: fit-content;
            opacity: 0.8;
        }

        .secciones__footer--link{
            margin-top: 30px;
            margin-bottom: 30px;
            

            .footer__lista{
                list-style: none;
                margin-left: 30px;
                
                .footer__lista-links{
                    margin-bottom: 3px;
                    margin-left: 0px;
                    font-size: 18px;
                    opacity: 0.6;
                }

                .footer__link{
                    text-decoration: none;
                    color: map-get($color, color-principal);
                    margin-top: 10px;
                }
                
            }
        }
        .footer__titulo-formulario{
            margin-left: 28%;
            color: map-get($color, color-secundario);
            font-family: museosans_900;
            font-size: 20px;
            border-bottom: 1px solid;
            width: fit-content;
            opacity: 0.8;
            
            
        }
        

        .secciones__footer--formulario{
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            

            .form__text{
                color: map-get($color, color-principal);
                margin: 6px 0px 1px 0px
            }

            .form__boton{
                margin: 5px 0px;
            }
        }
    }

    @media only screen and (max-width: 1024px) {

        .secciones__footer{
            .secciones__footer--link{
                .footer__lista{
                    margin-left: 11px;

                    .footer__lista-links{
                        margin-left: 0px;
                    }

                }

            }
   

            .footer__titulo-formulario{
                margin-left: 20%;
            }
        }
        

    }
    @media only screen and (max-width: 768px) {

        .secciones__footer{

            .footer__titulo-formulario{
                margin-left: 8%;
            }
            .secciones__footer--link{

                .footer__lista{
                    margin-left: 0px;

                    .footer__lista-links{
                        margin-bottom: 4%;
                        
                    }

                }

            }

        }

    }
    @media only screen and (max-width: 390px) {

        .secciones__footer{

            .footer__titulo-contacto{
                margin-left: 1%;
            }
            .secciones__footer--link{
                .footer__lista{
                    .footer__lista-links{
                        margin-left: 1%;
                    }

                }
            }

            .footer__titulo-formulario{
                margin-left: 15%;

                .formulario__footer{
                    .formulario__footer--nombre{
                        display: inline-block;
                    }
                }
            }
            .secciones__footer--link{

                .footer__lista{
                    margin-left: 5.5%;

                    .footer__lista-links{
                        margin-bottom: 4%;

                    }

                }

            }
   

        }

    }

}