*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: museosans-300;
    src: url("./../tipografias/MuseoSans-300.otf");
}
@font-face{
    font-family: jersey_m54;
    src: url("../tipografias/Jersey_M54[1].ttf");
}
@font-face{
    font-family: museosans_500;
    src: url("../tipografias/MuseoSans_500_Italic.otf");
}
@font-face{
    font-family: museosans_100;
    src: url("../tipografias/MuseoSans-100.otf");
}
@font-face{
    font-family: museosans_900;
    src: url("./../tipografias/MuseoSans_1.otf");
}
@font-face{
    font-family: museosans-700italic;
    src: url("./../tipografias/MuseoSans-700Italic.otf");
}
@font-face{
    font-family: museosans-500;
    src: url("./../tipografias/MuseoSans_1.otf");
}
