body{

    .cabecera{
        position: fixed;
        width: 100%;
        z-index: 100;

        .container-fluid{

            .navbar-brand{
                
                .cabecera__logo{
                    width: 80px;
                    margin-bottom: 1rem;
                    margin-left: .5rem;
                    margin-top: .7rem;
                }

            }


            .contenedor__navbar{

                .navbar-nav{
                    margin-left: .5rem;
                    .nav-item{

                        .nav-link{
                            color: white;
                            font-family: museosans-300;
                            transition: transform 1s;

                            &:hover{
                                transform: scale(1.1);
                            }
                        }


                    }

                }

            }
        }

    }
   


    @media only screen and (min-width: 1200px){

        .cabecera{

            .navbar{

                .container-fluid{
                    margin-right: 3rem;

                    .cabecera__logo{
                        margin-top: 1rem;
                        margin-left: 2rem;
                        margin-bottom: 1rem;
                    }


                }

            }

        }
    }
 
}