body{

    .cabecera{

        .container-fluid{

            .navbar-brand{
                
                .cabecera__logo{
                    width: 70px;
                    margin-bottom: 1rem;
                    margin-left: .5rem;
                    margin-top: .7rem;
                }

            }


            .contenedor__navbar{

                .navbar-nav{
                    margin-left: .5rem;
                    .nav-item{

                        .nav-link{
                            color: white;
                        }

                    }

                }

            }
        }

    }
}