#home{
    background-image: radial-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    )
    ,url(./../imagen/imageninicio2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 13vh;
    

    .home__sticker{
        position: relative;
        & img{
            width: 30vw;
            position: absolute;
            top: 5vh;
        }

    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 87vh;
        max-width: 1400px;
        

        

        .home__text1{
            color: #F6F6F6;
            font-size: 4.8vw;
            text-shadow: 3px 3px 3px black;
            margin-top: 25vh;
            font-family: jersey_m54;
        }
        

        .home__text2{
            color: #F6F6F6;
            font-size: 5.5vw;
            text-shadow: 3px 3px 3px black;
            font-family: jersey_m54;
        }
 


        .home__boton{
            text-decoration: none;
            color: white;
            padding: 0.1vh 2vw;
            border: 3px solid #FECF07;
            background-color: #FECF07;
            border-radius: 3px;
            margin-top: 1vh;
            font-weight: bolder;
            font-size: 3vw;
            transition: transform 1s;

            &:hover{
                transform: scale(1.1);
            }
        }


    }

    @media only screen and (min-width: 768px) {

        .home__sticker{

            & img{
                top: -3vh;
            }

        }
        .container{

            .home__text1{
                font-size: 3vw;
                text-shadow: 3px 3px 3px black;
                margin-top: 28vh;
                margin-bottom: .5vh;
                
            }
            
            .home__text2{
              font-size: 4vw;
              text-shadow: 3px 3px 3px black;
            }

 
            

            .home__boton{
                font-size: 1.5vw;
                padding: 0.1vh 1vw;
            }
        }
        
    }

    

    @media only screen and (min-width: 1024px){
        padding-bottom: 6.2rem;

        .home__sticker{

            & img{
                margin-top: -6rem;
            }

        }
        .container{
    
            .home__text1{
                font-size: 1.5rem;
                text-shadow: 3px 3px 3px black;
                margin-top: 15rem;
                margin-bottom: .5rem;
            }
            .home__text2{
                font-size: 2.5rem;
            }
            .home__boton{
                font-size: .8rem;
                
            }
        }

    }
    @media only screen and (min-width: 1200px){

        .home__sticker{

            & img{
                margin-top: -10rem;
            }

        }


    }

}