#modelos{
    background-color: black;

    .container{
        margin-right: 0px;
        .contenedor__modelos{

            .modelos__titulo{
                font-size: 6vw;
                font-weight: bolder;
                margin-top: 6vh;
                margin-bottom: 2vh;
                margin-left: 3vw;
                border-bottom: 2px solid #FECF07;
                border-radius: 1px;
                width: fit-content;
                font-family: museosans_900;
                color: #FECF07;
            }

            .modelos__text1{
                font-size: 9vw;
                margin-top: 8vh;
                margin-bottom: 0vh;
                color: #F6F6F6;
                font-family: jersey_m54;
                margin-left: 3vw;
            }
            .modelos__text2{
                font-size: 4.5vw;
                color: #F6F6F6;
                margin-left: 3vw;
                font-family:  museosans-700italic;
            }
            .modelos__text3{
                font-size: 4.5vw;
                color: #F6F6F6;
                margin-left: 3vw;
                font-family: museosans_100;
                margin-top: 5vh;
            }
        
        }
        .contenedor__carrousel{

            .contenedor__rayas{
                
                .img__rayas{
                    width: 70%;
                }
                
            }

            .carousel{
                margin: 0 3vw;
                width: 100%;
            }
        }



    }
    @media only screen and (min-width: 768px){

        .container{
            .contenedor__modelos{
    
                .modelos__titulo{
                    font-size: 2.5vw;
                    margin-left: 4vw;
                }
    
                .modelos__text1{
                    font-size: 4vw;
                    margin-left: 4vw;
                }
                .modelos__text2{
                    font-size: 1.9vw;
                    margin-left: 4vw;
                }
                .modelos__text3{
                    font-size: 2vw;
                    margin-left: 4vw;
                }
            
            }
            .contenedor__carrousel{
    
                .contenedor__rayas{
                    
                    .img__rayas{
                        width: 50%;
                    }
                    
                }
    
                .carousel{
                    margin-left: 7vw;
                    margin-bottom: 5vh;
                    width: 65%;
                }
            }
    
    
    
        }
    }
}