#modelos{
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        margin-right: 0px;
        .contenedor__modelos{
            margin-left: 5%;

            .modelos__titulo{
                font-size: 1.3rem;
                font-weight: bolder;
                margin-top: 10%;
                border-bottom: 2px solid #FECF07;
                border-radius: 1px;
                width: fit-content;
                font-family: museosans_900;
                color: #FECF07;
            }

            .modelos__text1{
                font-size: 2.5rem;
                line-height: 100%;
                margin-top: 15%;
                color: #F6F6F6;
                font-family: jersey_m54;
            }
            .modelos__text2{
                font-size: 1.1rem;
                color: #F6F6F6;
                font-family:  museosans-700italic;
            }
            .modelos__text3{
                font-size: 1.1rem;
                color: #F6F6F6;
                font-family: museosans_100;
                margin-top: 10%;
            }
        
        }
        .contenedor__carrousel{

            .contenedor__rayas{
                
                .img__rayas{
                    width: 70%;
                }
                
            }

            .carousel{
                margin: 0 5%;
                width: 100%;
                margin-bottom: 3rem;
            }
        }



    }
    @media only screen and (min-width: 768px){

        .container{
            padding: 0%;
            margin-right: 0px;
            .contenedor__modelos{
                margin-left: 0;
    
                .modelos__titulo{
                    font-size: 1.3rem;
                    font-weight: bolder;
                    margin-top: 10%;
                    border-bottom: 2px solid #FECF07;
                    border-radius: 1px;
                    width: fit-content;
                    font-family: museosans_900;
                    color: #FECF07;
                    margin-left: 10%;
                }
    
                .modelos__text1{
                    font-size: 2.5rem;
                    line-height: 100%;
                    margin-top: 15%;
                    color: #F6F6F6;
                    font-family: jersey_m54;
                    margin-left: 10%;
                }
                .modelos__text2{
                    font-size: 1.1rem;
                    color: #F6F6F6;
                    font-family:  museosans-700italic;
                    margin-left: 10%;
                }
                .modelos__text3{
                    font-size: 1.1rem;
                    color: #F6F6F6;
                    font-family: museosans_100;
                    margin-top: 10%;
                    margin-left: 10%;
                }
            
            }
            .contenedor__carrousel{
                padding: 0%;
                .contenedor__rayas{
                    
                    .img__rayas{
                        width: 50%;
                    }
                    
                }
    
                .carousel{
                    margin: 0 5%;
                    width: 60%;
                    margin-bottom: 3rem;
                    margin-left: 20%;
                }
            }
    }

    @media only screen and (min-width: 1024px){

        .container{
            .contenedor__modelos{
    
                .modelos__titulo{
                    font-size: 1.4rem;
                    margin-top: 4rem;
                    margin-left: 4rem;
                    
                }
    
                .modelos__text1{
                    font-size: 2.5rem;
                    margin-left: 4rem;
                }
                .modelos__text2{
                    font-size: 1.2rem;
                    margin-left: 4rem;
                }
                .modelos__text3{
                    font-size: 1.1rem;
                    margin-left: 4rem;
                }
            
            }
            .contenedor__carrousel{
    
                .contenedor__rayas{
                    
                    .img__rayas{
                        width: 50%;
                        margin-right: 2rem;
                    }
                    
                }
    
                .carousel{
                    margin-left: 4rem;
                    margin-bottom: 3rem;
                    width: 54%;
                }
            }
    
    
    
        }
    }
    @media only screen and (min-width: 1100px){

        .container{
            .contenedor__modelos{
    
                .modelos__titulo{
                    font-size: 1.4rem;
                    margin-top: 4rem;
                    margin-left: 20%;
                    
                }
    
                .modelos__text1{
                    font-size: 2.5rem;
                    margin-left: 20%;
                }
                .modelos__text2{
                    font-size: 1.2rem;
                    margin-left: 20%;
                }
                .modelos__text3{
                    font-size: 1.1rem;
                    margin-left: 20%;
                }
            
            }
            .contenedor__carrousel{
    
                .contenedor__rayas{
                    
                    .img__rayas{
                        width: 50%;
                        margin-right: 2rem;
                    }
                    
                }
    
                .carousel{
                    margin-left: 20%;
                    margin-bottom: 3rem;
                    width: 54%;
                }
            }
    
    
    
        }
    }
    @media only screen and (min-width: 1200px){

        .container{
            .contenedor__modelos{
    
                .modelos__titulo{
                    font-size: 1.4rem;
                    margin-top: 12%;
                    margin-left: 20%;
                    
                }
    
                .modelos__text1{
                    font-size: 3rem;
                    margin-left: 20%;
                }
                .modelos__text2{
                    font-size: 1.5rem;
                    margin-left: 20%;
                }
                .modelos__text3{
                    font-size: 1.5rem;
                    margin-left: 20%;
                }
            
            }
            .contenedor__carrousel{
    
                .contenedor__rayas{
                    
                    .img__rayas{
                        width: 60%;
                        margin-right: 2rem;
                    }
                    
                }
    
                .carousel{
                    margin-left: 15%;
                    margin-bottom: 3rem;
                    width: 54%;
                }
            }
    
    
    
        }
    }


    
}
}