#modelos{
    background-color: black;

    .container{
        margin-right: 0px;
        .contenedor__modelos{

            .modelos__titulo{
                font-size: 6vw;
                font-weight: bolder;
                margin-top: 4vh;
                margin-left: 3vw;
                border-bottom: 2px solid #FECF07;
                border-radius: 1px;
                width: fit-content;
                font-family: museosans_900;
                color: #FECF07;
            }
            .modelos__text1{
                font-size: 3vh;
                margin-top: 4vh;
                margin-bottom: 0vh;
                color: white;
            }
            .modelos__text2{
                font-size: 2vh;
                color: white;
            }
            .modelos__text3{
                font-size: 2vh;
                color: white;
            }
        
        }
        .contenedor__carrousel{

            .contenedor__rayas{
                
                .img__rayas{
                    width: 50%;
                }
                
            }

            .carousel{
                margin: 0 3vw;
                width: 100%;
            }
        }



    }
}