#nosotros{

    .container{

        .nosotros__imagen{
            width: 100%;
            margin: 0 3vw;
            margin-top: -.2vh;
            
            
        }
        .contenedor_nosotros{
            display: flex;
            flex-direction: column;

            .nosotros_titulo{
                font-size: 4vh;
                margin-top: 4vh;
                border-bottom: 2px solid black;
                border-radius: 1px;
                width: fit-content;
            }
            .nosotros__texto{
                margin-top: 5vh;
                margin-bottom: 2vh;
                font-size: 2vh;
                
            }

        }
        .contenedor__caracteristicas{
            flex-direction: row;
            gap: 10%;
            padding-bottom: 4vh;
            

            .compromiso-fabrica{
                
                .compromiso{
                    align-items: center;

                    .compromiso__img{
                        width: 8vw;
                        height: 7.3vh;
                    }
                    .compromiso__text{
                        font-size: 2vh;
                        margin-top: 2vh;
                    }
                    
                }
                .fabrica{

                    .fabrica__img{
                        width: 8.5vw;
                        height: 7vh;
                    }
                    .fabrica__text{
                        font-size: 2vh;
                        margin-top: 2vh;
                    }

                }
                
            }
            .calidad-entrega {

                .calidad__img{
                    width: 8.5vw;
                    height: 7vh;
                }
                .calidad__text{
                    font-size: 2vh;
                    margin-top: 2vh;
                }

            }
            .entrega{
                .entrega__img{
                    width: 8.5vw;
                    height: 7vh;
                }
                .entrega__text{
                    font-size: 2vh;
                    margin-top: 2vh;
                }

            }
            





        }


    }
}