#nosotros{
    background-color: #F6F6F6;
    .container{

        .nosotros__imagen{
            width: 100%;
            margin: 0 3vw;
            margin-top: -.2vh;
            
        }
        
        .contenedor_nosotros{
            display: flex;
            flex-direction: column;
            

            .nosotros_titulo{
                font-size: 6vw;
                font-weight: bolder;
                margin-top: 6vh;
                margin-bottom: 2vh;
                margin-left: 3vw;
                border-bottom: 2px solid #FECF07;
                border-radius: 1px;
                width: fit-content;
                font-family: museosans_900;
                color: #FECF07;
                
            }
            .nosotros__texto{
                margin-top: 6vh;
                margin-bottom: 2vh;
                font-size: 3.83vw;
                font-family: museosans_100;
                margin-left: 3vw;
                padding-bottom: 3vh;
            }

        }

        .contenedor__caracteristicas{
            flex-direction: row;
            gap: 5%;
            padding-bottom: 6vh;
            margin-left: 2vw;
            
            .compromiso-fabrica{
                
                .compromiso{
                    align-items: center;

                    .compromiso__img{
                        width: 2.3rem;
                        height: 2.3rem;
                    }
                    .compromiso__text{
                        font-size: 4vw;
                        margin-top: 2.5vh;
                        font-size: museosans-500;
                    }
                    
                }
                .fabrica{

                    .fabrica__img{
                        width: 2.3rem;
                        height: 2.3rem;
                    }
                    .fabrica__text{
                        font-size: 4vw;
                        margin-top: 1.5vh;
                        font-size: museosans-500;
                    }

                }
                
            }
            .calidad-entrega {

                .calidad__img{
                    width: 2.3rem;
                    height: 2.3rem;
                    margin-top: 1vh;
                }
                .calidad__text{
                    font-size: 4vw;
                    margin-top: 2.3vh;
                    font-size: museosans-500;
                }

            }
            .entrega{
                .entrega__img{
                    width: 2.3rem;
                    height: 2.3rem;
                }
                .entrega__text{
                    font-size: 4vw;
                    margin-top: 1.5vh;
                    font-size: museosans-500;
                }

            }
            





        }


    }
    @media only screen and (min-width: 768px){
        .container{

            .nosotros__imagen{
                margin: 0 4vw;
                margin-top: -.2vh;
                
            }
            
            .contenedor_nosotros{
  
                .nosotros_titulo{
                    font-size: 2.5vw;
                    
                }
                .nosotros__texto{
                    font-size: 1.8vw;
                    margin-bottom: 1vh;
                    padding-bottom: 1vh;
                }
    
            }
    
            .contenedor__caracteristicas{

                
                .compromiso-fabrica{
                    
                    .compromiso{
    
                        .compromiso__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .compromiso__text{
                            font-size: 1.8vw;
 
                        }
                        
                    }
                    .fabrica{
    
                        .fabrica__img{
                            width: 3rem;
                            height: 3rem;
                        }
                        .fabrica__text{
                            font-size: 1.8vw;
                            margin-top: 2vh;
                        }
    
                    }
                    
                }
                .calidad-entrega {
    
                    .calidad__img{
                        width: 3rem;
                        height: 3rem;
                        
                    }
                    .calidad__text{
                        font-size: 1.8vw;
                        margin-top: 3vh;
                    }
    
                }
                .entrega{
                    .entrega__img{
                        width: 3rem;
                        height: 3rem;
                    }
                    .entrega__text{
                        font-size: 1.8vw;
                    }
    
                }
    
            }
    
    
        }
        
    }

    @media only screen and (min-width: 1200px){

        .container{

            .nosotros__imagen{
                margin: 0 4vw;
                margin-top: -.3vh;
                width: 90%;
                margin-left: 6vw;
                
            }
            
            .contenedor_nosotros{
  
                .nosotros_titulo{
                    font-size: 2vw;
                    margin-top: 12vh;
                    margin-left: 6vw;
                    
                }
                .nosotros__texto{
                    font-size: 1.5vw;
                    margin-bottom: 1vh;
                    padding-bottom: 3vh;
                    margin-top: 12vh;
                    margin-left: 6vw;
                }
    
            }
    
            .contenedor__caracteristicas{
                gap: 15%;
                
                .compromiso-fabrica{
                    margin-left: 3vw;
                    .compromiso{
    
                        .compromiso__img{
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                        .compromiso__text{
                            font-size: 1.5vw;
 
                        }
                        
                    }
                    .fabrica{
    
                        .fabrica__img{
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                        .fabrica__text{
                            font-size: 1.5vw;
                            margin-top: 2vh;
                        }
    
                    }
                    
                }
                .calidad-entrega {
    
                    .calidad__img{
                        width: 3.5rem;
                        height: 3.5rem;
                        
                    }
                    .calidad__text{
                        font-size: 1.5vw;
                        margin-top: 3vh;
                    }
    
                }
                .entrega{
                    .entrega__img{
                        width: 3.5rem;
                        height: 3.5rem;
                    }
                    .entrega__text{
                        font-size: 1.5vw;
                    }
    
                }
    
            }
    
    
        }
        
    }
    

}