#proyectos{

    .container{
        overflow: hidden;
        padding-bottom: 40vh;

        .contenedor__img{
            position: relative;
            
            .proyecto__img{
                width: 30vw;
                position: absolute;
                top: -8vh;
            }
        }

        .contenedor__proyecto{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .proyecto__titulo{
                font-size: 6vw;
                font-weight: bolder;
                margin-top: 4vh;
                margin-left: 3vw;
                border-bottom: 2px solid #FECF07;
                border-radius: 1px;
                width: fit-content;
                font-family: museosans_900;
                color: #FECF07;
            }
        }



    }
}