#proyectos{
    background-color: black;

    .container{
        overflow: hidden;
        padding-bottom: 12vh;

        .contenedor__img{
            position: relative;
            
            .proyecto__img{
                width: 30vw;
                position: absolute;
                top: -5vh;
            }
        }

        .contenedor__proyecto{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 5vh;

            .proyecto__titulo{
                font-size: 4vw;
                font-weight: bolder;
                margin-top: 4vh;
                margin-left: 3vw;
                border-bottom: 2px solid #FECF07;
                border-radius: 1px;
                width: fit-content;
                font-family: museosans_900;
                color: #FECF07;
            }
            .proyecto__text{
                font-family: museosans-300;
                color: #F6F6F6;
     
            }
        }

    } 
    .imagenes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6;
        gap: 1%;
        margin-bottom: 10px;
        
        .imagenes__imagen{
            width: 100%;
            position: center center;
            font-size: cover;
        }

    }

    @media only screen and (min-width: 768px){
        .container{
            padding-bottom: 20vh;
        }
    }


    @media only screen and (min-width: 1024px){
        .container{
            padding-bottom: 5vh;
            .contenedor__img{
                
                
                .proyecto__img{
                    width: 30vw;
                    position: absolute;
                    top: -25vh;
                }
            }
        }
            
            
            .imagenes{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 1%;
                
                
                
                .imagenes__imagen{
                    width: 100%;
                    position: center center;
                    font-size: cover;
                    margin-bottom: 10px;
                }
                
            }
        
    }
    @media only screen and (min-width: 1200px){
        .container{
            padding-bottom: 5vh;
            .contenedor__img{
                
                
                .proyecto__img{
                    width: 30vw;
                    position: absolute;
                    top: -35vh;
                }
            }
        }
    }

}