#viviendas{
    background-color: #F6F6F6;
    
    .container{

        .contenedor__viviendas{

            .viviendas__titulo{
                font-size: 6vw;
                font-weight: bolder;
                margin-top: 5vh;
                margin-left: 3vw;
                border-bottom: 2px solid #FECF07;
                border-radius: 1px;
                width: fit-content;
                font-family: museosans_900;
                color: #FECF07;
            }
            .vivienda__text1{
                font-size: 8.5vw;
                margin-top: 8vh;
                margin-bottom: 0vh;
                color: black;
                font-family: jersey_m54;
                margin-left: 3vw;

            }
            .vivienda__text2{
                font-size: 7vw;
                color: black;
                margin-left: 3vw;
                font-family:  museosans-700italic;
            }
            .vivienda__text3{
                font-size: 4.3vw;
                color: black;
                margin-left: 3vw;
                font-family: museosans_100;
                margin-top: 5vh;
            }

        }

        .contenedor__metros{
            
            .img__tick{
                width: 3rem;
                height: 3rem;
            }
            .metros__text{
                font-size: 4vw;
                margin-top: 2vh;
                font-size: museosans-500;
                font-weight: bold;
            }

        }
        .contenedor__equipado{

            .img__equipado{
                width: 3rem;
                height: 3rem;
            }
            .equipado__text{
                font-size: 4vw;
                margin-top: 2vh;
                font-size: museosans-500;
                font-weight: bold;
            }

        }
        .contenedor__financiado{
            margin-bottom: 3vh;
            .img__financiado{
                width: 3rem;
                height: 3rem;
            }
            .financiado__text{
                font-size: 4vw;
                margin-top: 2vh;
                font-size: museosans-500;
                font-weight: bold;
            }

        }
        .contenedor__imagen{
            padding: 0;
            
            .viviendas__imagen{
                width: 106%;
                margin: 0vh 0vw;
                

            }
        }

    }
    @media only screen and (min-width: 768px){
        overflow: hidden;

        .container{
            
            .contenedor__viviendas{
                margin-bottom: -2vh;

                .viviendas__titulo{
                    font-size: 2.5vw;
                    margin-left: 4vw;
                }
                .vivienda__text1{
                    font-size: 4vw;
                    margin-left: 4vw;
                    margin-top: 5vh;
    
                }
                .vivienda__text2{
                    font-size: 3vw;
                    margin-left: 4vw;
                }
                .vivienda__text3{
                    font-size: 2vw;
                    margin-left: 4vw;
                    margin-top: 2vh;
                    margin-bottom: 0px;
                }
    
            }
    
            .contenedor__metros{
                margin-bottom: -2vh;

                .img__tick{
                    width: 3rem;
                    height: 3rem;
                    margin-left: 3vw;
                }
                .metros__text{
                    font-size: 1.8vw;
                }
    
            }
            .contenedor__equipado{
                margin-bottom: -2vh;

                .img__equipado{
                    width: 3rem;
                    height: 3rem;
                    margin-left: 3vw;
                }
                .equipado__text{
                    font-size: 1.8vw;
                }
    
            }
            .contenedor__financiado{
                margin-bottom: 3vh;

                .img__financiado{
                    width: 3rem;
                    height: 3rem;
                    margin-left: 3vw;
                }
                .financiado__text{
                    font-size: 1.8vw;
                }
    
            }
            .contenedor__imagen{
                
                .viviendas__imagen{
                    width: 127%;
                    margin: 0vh 0vw;
                    margin-top: -.5vh;
    
                }
            }
    
        }
    }
    @media only screen and (min-width: 1024px){

        .container{
            
            .contenedor__viviendas{
                margin-bottom: -2vh;

                .viviendas__titulo{
                    font-size: 1.4rem;
                    margin-top: 4rem;
                    margin-left: 4rem;
                }
                .vivienda__text1{
                    font-size: 2.5rem;
                    margin-left: 4rem;
    
                }
                .vivienda__text2{
                    font-size: 1.7rem;
                    margin-left: 4rem;
                }
                .vivienda__text3{
                    font-size: 1.1rem;
                    margin-left: 4rem;
                    margin-bottom: 1.5rem;
                    margin-top: 1.5rem;
                }
    
            }
    
            .contenedor__metros{
                margin-bottom: -1.5rem;

                .img__tick{
                    width: 3.7rem;
                    height: 3.7rem;
                    margin-left: 3.2rem;
                }
                .metros__text{
                    font-size: 1rem;
                    margin-top: 1rem;
                }
    
            }
            .contenedor__equipado{
                margin-bottom: -1.5rem;

                .img__equipado{
                    width: 3.7rem;
                    height: 3.7rem;
                    margin-left: 3.2rem;
                }
                .equipado__text{
                    font-size: 1rem;
                    margin-top: 1rem;
                }
    
            }
            .contenedor__financiado{
                margin-bottom: .8rem;

                .img__financiado{
                    width: 3.7rem;
                    height: 3.7rem;
                    margin-left: 3.2rem;
                }
                .financiado__text{
                    font-size: 1rem;
                    margin-top: 1rem;
                }
    
            }
            .contenedor__imagen{
                
                .viviendas__imagen{
                    width: 100%;
                    margin-left: 6rem;
                    margin-top: -.5rem;
    
                }
            }
    
        }

    }
    @media only screen and (min-width: 1200px){
        .container{
            
            .contenedor__viviendas{
                margin-bottom: -2vh;

                .viviendas__titulo{
                    font-size: 1.7rem;
                    margin-top: 4rem;
                    margin-left: 7rem;
                    margin-bottom: 5rem;
                }
                .vivienda__text1{
                    font-size: 2.5rem;
                    margin-left: 7rem;
    
                }
                .vivienda__text2{
                    font-size: 1.7rem;
                    margin-left: 7rem;
                }
                .vivienda__text3{
                    font-size: 1.2rem;
                    margin-left: 7rem;
                    margin-top: 3rem;
                }
    
            }
    
            .contenedor__metros{
                margin-bottom: -1.5rem;

                .img__tick{
                    width: 4rem;
                    height: 4rem;
                    margin-left: 6rem;
                }
                .metros__text{
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }
    
            }
            .contenedor__equipado{
                margin-bottom: -1.5rem;

                .img__equipado{
                    width: 4rem;
                    height: 4rem;
                    margin-left: 6rem;
                }
                .equipado__text{
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }
    
            }
            .contenedor__financiado{
                margin-bottom: .8rem;

                .img__financiado{
                    width: 4rem;
                    height: 4rem;
                    margin-left: 6rem;
                }
                .financiado__text{
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }
    
            }
            .contenedor__imagen{
                
                .viviendas__imagen{
                    width: 100%;
                    margin-left: 9rem;
                    margin-top: -.5rem;
    
                }
            }
    
        }
    }

    
}